body {
  margin: 0;
  background: #e0dcdb;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
  color: cornsilk;
}

.search-section {
  background: #5c3d46;
  text-align: center;
  padding: 40px;
}

#usernameInput {
  font-size: 30px;
  background: cornsilk;
}

.list-section {
  max-width: 500px;
  margin: 15px auto;
  background: #5b5a58;
} 

ul {
  margin: 0;
  padding: 40px; 
  list-style-type: none;
}

li {
  background: cornsilk;
  margin: 5px;
  padding: 10px 20px;
}

